html, body
{
	height: 100%;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
	margin: 0;
<<<<<<< HEAD
=======
	font-size: 16px;
	font-family: "Lato", sans-serif;
>>>>>>> c2647cd92f3934d5a070486f2b8e2bfa4f51d6c6
}

img
{
	max-width: 100%;
}
